html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.display_none {
    display: none;
}

input[type="text"] {
    background-color: #4f4d4d;
    color: white;
}


input[type="text"]::placeholder {
    color: #cac0c0;
}

input[type="text"]:focus {
    background-color: #807b7b;
    color: white;
}

.root-messages-container {
    height: calc(100% - 70px);
}

.root-messages-container .container, 
.root-messages-container .container .row, 
.threads_pane,
.root-messages-container .container .row .col-md-8 {
    height: 100%;
}


/* Threads list */
.threads_pane {
    display: flex;
    flex-direction: column;
}

#new_thread_link {
    text-align: center;
    display: block;
    padding: 2px;
}

#threads-list {
    overflow-y: auto;
}

#threads-list a {
    cursor: pointer;
}

.unread-msg, .unread-msg small {
    font-weight: bold;
}


/* Chat area */
.mesgs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.msg_history {
    scroll-behavior: smooth;
    flex: 1;
    height: unset !important;
}




/* Chat form area */
.type_msg {
    border-top: none !important;
}

.emojionearea, .emojionearea.form-control {
    background-color: #4f4d4d;
    color: white;
}

.emojionearea .emojionearea-editor {
    color: white;
    margin-right: 48px;
}

.emojionearea .emojionearea-button {
    background-color: white;
    height: 32px;
    top: 0px !important;
    width: 29px;
    right: 32px !important;
    padding: 3px;
}

.msg_send_btn {
    top: 0px !important;
    border-radius: 0% !important;
}

.dropdown-menu.textcomplete-dropdown[data-strategy="emojionearea"] {
    background-color: black;
}